body {
  top: 0;
  margin: 0;
  padding: 0;
  background-color: black;
}

@font-face {
  font-family: UTMDuepuntozero;
  src: url(fonts/UTMDuepuntozero.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FiolexGirls;
  src: url(fonts/FiolexGirls.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

#weekday {
  font-family: UTMDuepuntozero;
  top: 100px;
  left: -12px;
  width: 320px;
  height: 50px;
  z-index: 75;
  font-weight: 80;
  font-size: 38px;
  color: white;
  text-shadow: 0px -1px 5px gray, 0px 5px 5px gray, 0px 5px 10px gray;
  text-align: center;
  position: absolute;
}

#clock {
  font-family: FiolexGirls;
  top: 160px;
  left: 0px;
  width: 320px;
  height: 50px;
  z-index: 50;
  font-weight: 80;
  font-size: 85px;
  color: white;
  text-shadow: 0px -1px 5px red, 0px 5px 5px red;
  text-transform: capitalize;
  animation: beat 1s ease-out infinite normal;
  text-align: center;
  position: absolute;
}

#ampm {
  font-family: UTMDuepuntozero;
  display: inline;
  font-size: 20px;
  color: white;
  text-shadow: 0px -1px 5px gray, 0px 5px 5px gray, 0px 5px 10px gray;
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
  }
  65% {
    -webkit-transform: scale(1.1) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(0.9) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
  }
}

#date {
  font-family: UTMDuepuntozero;
  top: 320px;
  left: 0px;
  width: 320px;
  height: 25px;
  z-index: 75;
  font-weight: 80;
  font-size: 25px;
  color: white;
  text-shadow: 0px -1px 5px goldenrod, 0px 5px 5px goldenrod;
  text-align: center;
  position: absolute;
}

#month {
  font-family: UTMDuepuntozero;
  font-size: 25px;
  color: white;
  text-shadow: 0px -1px 5px green, 0px 5px 5px green;
}

#year {
  font-family: UTMDuepuntozero;
  font-size: 25px;
  color: white;
  text-shadow: 0px -1px 5px blue, 0px 5px 5px blue;
}
